@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(0, 0, 66, 0.75);
    }
    50% {
        background-color: rgba(17, 104, 217, 0.75);
    }
    75% {
        transform: scale(1.2);
        background-color: rgba(0, 217, 159, 0.75);
    }
    100% {
        transform: scale(1);
        background-color: var(--visited-color);
    }
}

@keyframes pathAnimation {
    0% {
        transform: scale(0.6);
        background-color: var(--path-color);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.node.visited {
    animation: visitedAnimation 1.5s ease-out forwards;
}

.node.path {
    animation: pathAnimation 1.5s ease-out forwards;
}

